p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;

    background-color: #F4F5F4;

    display: grid;
    grid-template: "filter search" 2fr "filter products" 6fr / 1fr 4fr;
}

.filter {
    grid-area: filter;

    padding-top:15vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.filter-input {
    display: inline-block;
    cursor: pointer;

    font-size: 21px;

    width: 100px;
    padding: 10px;

    text-align: center;
    color: #000;
    font-weight: 600;

    border: 2px solid #000;
    border-radius: 10px;

    margin-bottom: 10px;

    background-color: transparent;
}

.filter-input input {
    display: none;
}

.products {
    grid-area: products;

    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;

    padding: 20px;
}

.product {
    box-sizing: border-box;
    width: 250px;
    height: 200px;

    padding: 10px 20px;

    color: #000;
    font-weight: 500;

    margin-right: 20px;
    margin-bottom: 20px;

    background-color: #4448DA90;

    border-radius: 5px;
}

.product p {
    margin-bottom: 15px;
}

.explain {
    color: #fff;
    font-weight: 400;
}

.search {
    grid-area: search;
    box-sizing: border-box;

    padding-left: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search input {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;

    background-color: transparent;

    width: 60%;

    font-size: 21px;
    padding: 7px 7px;
}

.active {
    color: #fff;
    background-color: #4448DA;
}